<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"
  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  
  
  <nav class=" navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'wishlist:show_xml'%}">XML</a></li>
                  <li><a class="dropdown-item" href="{% url 'wishlist:show_json'%}">JSON</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'wishlist:logout'%}">Logout</a></li>
                </ul>
              </li>
        </ul>
      </div>
    </div>
  </nav>
    

    <h6>Nama: {{nama}} </h6>
        <table style="border:1px solid black;">
        <tr>
        <th style="border:1px solid black;">Nama Barang</th>
        <th style="border:1px solid black;">Harga Barang</th>
        <th style="border:1px solid black;">Deskripsi</th>
        </tr>
        
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
        <tr>
            <th style="border:1px solid black;">{{barang.nama_barang}}</th>
            <th style="border:1px solid black;">{{barang.harga_barang}}</th>
            <th style="border:1px solid black;">{{barang.deskripsi}}</th>
        </tr>
        {% endfor %}
    </table>

    <h7>Sesi terakhir login: {{ last_login }}</h7>



    </html>